@define-color foreground #9ca7b5;
@define-color background #000514;
@define-color cursor #9ca7b5;

@define-color color0 #000514;
@define-color color1 #192E47;
@define-color color2 #243851;
@define-color color3 #2D425C;
@define-color color4 #344C67;
@define-color color5 #44454F;
@define-color color6 #445B76;
@define-color color7 #9ca7b5;
@define-color color8 #6d747e;
@define-color color9 #192E47;
@define-color color10 #243851;
@define-color color11 #2D425C;
@define-color color12 #344C67;
@define-color color13 #44454F;
@define-color color14 #445B76;
@define-color color15 #9ca7b5;
