@define-color foreground #a6bed7;
@define-color background #020207;
@define-color cursor #a6bed7;

@define-color color0 #020207;
@define-color color1 #5D3858;
@define-color color2 #214872;
@define-color color3 #A04659;
@define-color color4 #1F5B98;
@define-color color5 #4F6DA3;
@define-color color6 #B2738C;
@define-color color7 #a6bed7;
@define-color color8 #748596;
@define-color color9 #5D3858;
@define-color color10 #214872;
@define-color color11 #A04659;
@define-color color12 #1F5B98;
@define-color color13 #4F6DA3;
@define-color color14 #B2738C;
@define-color color15 #a6bed7;
