@define-color foreground #dde0e2;
@define-color background #0C292D;
@define-color cursor #dde0e2;

@define-color color0 #0C292D;
@define-color color1 #3F9AAE;
@define-color color2 #6398A2;
@define-color color3 #96ABAE;
@define-color color4 #C2B9AC;
@define-color color5 #9BBAC6;
@define-color color6 #AFC8CE;
@define-color color7 #dde0e2;
@define-color color8 #9a9c9e;
@define-color color9 #3F9AAE;
@define-color color10 #6398A2;
@define-color color11 #96ABAE;
@define-color color12 #C2B9AC;
@define-color color13 #9BBAC6;
@define-color color14 #AFC8CE;
@define-color color15 #dde0e2;
