@define-color foreground #ebecea;
@define-color background #010101;
@define-color cursor #ebecea;

@define-color color0 #010101;
@define-color color1 #77C0DE;
@define-color color2 #6DCFF6;
@define-color color3 #999998;
@define-color color4 #FDC689;
@define-color color5 #D4C9AB;
@define-color color6 #AACFD4;
@define-color color7 #ebecea;
@define-color color8 #a4a5a3;
@define-color color9 #77C0DE;
@define-color color10 #6DCFF6;
@define-color color11 #999998;
@define-color color12 #FDC689;
@define-color color13 #D4C9AB;
@define-color color14 #AACFD4;
@define-color color15 #ebecea;
