@define-color foreground #94c7d4;
@define-color background #020817;
@define-color cursor #94c7d4;

@define-color color0 #020817;
@define-color color1 #574648;
@define-color color2 #B07F3D;
@define-color color3 #17438B;
@define-color color4 #03508E;
@define-color color5 #156498;
@define-color color6 #026EA9;
@define-color color7 #94c7d4;
@define-color color8 #678b94;
@define-color color9 #574648;
@define-color color10 #B07F3D;
@define-color color11 #17438B;
@define-color color12 #03508E;
@define-color color13 #156498;
@define-color color14 #026EA9;
@define-color color15 #94c7d4;
